<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::page(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="p-0 m-0 w-100 d-block">
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" data-interval="3000"
                     th:style="'background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(\''+@{/img/1.jpg}+'\');'">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="display-4 my-3">Smart Contact Manager</h2>
                        <p class="lead">An all - in - one contact solution</p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="3000"
                     th:style="'background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\''+@{/img/2.jpg}+'\');'">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="display-4 my-3">Get Your Free Account Today</h2>
                        <p class="lead">
                            <a class="btn btn-primary px-5 btn-md-block" th:href="@{/signup}">
                                <i class="fas fa-cloud"></i>
                                <span class="mx-3">Sign Up Now</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="3000"
                     th:style="'background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(\''+@{/img/3.jpg}+'\');'">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="display-4 my-3">Secured Database</h2>
                        <p class="lead">Your data is stored in secured databases</p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="3000"
                     th:style="'background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(\''+@{/img/4.jpg}+'\');'">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="display-4 my-3">Unlimited Data Storage</h2>
                        <p class="lead">No cap on storing data at our servers via this contact Manager</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <section class="py-5 text-center bg-white">
        <div class="container mt-4">
            <h2 class="text-center">Smart Contact Manager Services</h2>
            <p class="text-muted mb-5 text-center">Get access to all the features of the website for efficient and easy
                storage of your contacts</p>
            <div class="row">
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card p-3 pt-5 m-3 shadow home-card">
                        <i class="fas fa-database text-primary services-icon"></i>
                        <h6>Secured Database</h6>
                        <p class="text-muted mt-2">Store all your contacts to our secured database</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card p-3 pt-5 m-3 shadow home-card">
                        <i class="fas fa-thumbs-up text-primary services-icon"></i>
                        <h6>Easy to Use</h6>
                        <p class="text-muted mt-2">It is designed to provide a user friendly experience</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card p-3 pt-5 m-3 shadow home-card">
                        <i class="fas fa-user-shield text-primary services-icon"></i>
                        <h6>Secured From Unauthorised Access</h6>
                        <p class="text-muted mt-2">You and only you can access the data which belongs to you only.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card p-3 pt-5 m-3 shadow home-card">
                        <i class="fas fa-check text-primary services-icon"></i>
                        <h6>Convenient Use</h6>
                        <p class="text-muted mt-2">Features allows to convinently use the site with user - friendly
                            interface and
                            error free operations.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card p-3 pt-5 m-3 shadow home-card">
                        <i class="fas fa-globe text-primary services-icon"></i>
                        <h6>Maintains Integrity</h6>
                        <p class="text-muted mt-2">Full and complete assurance of maintaining data integrity which only
                            belongs
                            to you</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card p-3 pt-5 m-3 shadow home-card">
                        <i class="fas fa-infinity text-primary services-icon"></i>
                        <h6>No Limit</h6>
                        <p class="text-muted mt-2">Store unlimited data, here in case contact details as there are no
                            limit
                            imposed.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <header class="bg-primary text-center py-4 mb-4">
        <div class="container">
            <h2 class="font-weight-light text-white">Website Owner & Developer </h2>
        </div>
    </header>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-4">
                <div class="card border-0 shadow py-3">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">Hrishav Dhawaj Purkayastha</h3>
                        <div class="card-text text-black-50 mb-2">Web Developer cum Software Engineer</div>
                        <p class="card-text">Email: programmerhrishav1234@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-center py-4">
        <div class="container">
            <h5 class="font-weight-light text-white">&#169; &nbsp; Copyrights Reserved, HDSoft Solutions</h5>
        </div>
    </footer>
</section>
</body>
</html>