<!DOCTYPE html>
<html lang="en" th:replace="base::page(~{::section})" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="main-bg d-flex justify-content-center align-items-center sec-height">
    <div class="card p-4 login-width">
        <div class="row">
            <div class="col-md-7">
                <img alt="" style="width: 100%; height: 100%" th:src="@{/img/login.jpg}">
            </div>
            <div class="col-md-5 px-5 pt-4 login-form">
                <form method="post" th:action="@{/login}">
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <h1>Login Here</h1>
                        </div>
                    </div>
                    <div class="row mb-4" th:if="${param.error != null or param.logout != null}">
                        <div class="col-md-12">
                            <div class="alert alert-danger" th:each="e: ${param.error}">
                                <b th:if="${e.length() == 0}">Invalid Credentials</b>
                                <b th:if="${e.length() != 0}" th:text="${param.error}"></b>
                            </div>
                            <div class="alert alert-success" th:if="${param.logout}">
                                <b>Logged Out Successfully</b>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4" th:if="${session.message}">
                        <div class="col-md-12">
                            <div class="alert" th:classappend="${session.message.className}">
                                <span th:text="${session.message.text}"></span>
                                <th:block th:text="${#session.removeAttribute('message')}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="username">Enter Username</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="password">Enter Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-md-8">
                            <button class="btn btn-success btn-md-block px-5" type="submit">
                                <i class="fas fa-cloud"></i>
                                <span class="ml-3">Login to my account</span>
                            </button>
                        </div>
                        <div class="col-md-4 text-right forgot">
                            <a class="text-primary" th:href="@{/forgot}">Forgot Password</a>
                        </div>
                    </div>
                    <div class="row mt-5 pt-4">
                        <div class="col-md-4 pr-0 pt-2">
                            <p>Don't have account</p>
                        </div>
                        <div class="col-md-8 text-right">
                            <a class="btn btn-primary btn-md-block px-5" th:href="@{/signup}">
                                <i class="fas fa-user-plus"></i>
                                <span class="ml-3">Create new account</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>